figure {
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
}

.App-container {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.Cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  /* padding: 20px 40px; */
}

.Card {
  border: 1px white solid;
  border-radius: 10px;
  transition: 0.3s ease-in all;
  margin-bottom: 10px;
  max-width: 300px;
  z-index: 100;
}

.Card:hover {
  /* border-color: #2a912c; */
  cursor: pointer;
  text-shadow: -2px 0 #14a4b0, 0 2px #14a4b0, 2px 0 #14a4b0, 0 -2px #14a4b0;
}

.Card-image figure img {
  border-radius: 10px;
  transition: 0.3s ease-in all;
}

.Card-image figure img:hover {
  filter: invert(100%);
}

.Card-description {
  padding: 0 30px;
}

.Card-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Modal {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  top: 0;
}

.Card-detail {
  /* width: 60vw; */
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.Card-detail-description {
  width: 100%;
  padding: 30px;
}

.Characteristic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Characteristic p {
  margin: 5px 5px;
}

.Characteristic-value {
  color: #17ff75;
}

.Pickle-container {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 30px;
}

.Pickle-container figure img {
  width: 200px;
}

@media screen and (max-width: 570px) {
  .Cards-container {
    justify-content: center;
  }
  .Card-detail {
    flex-direction: column;
  }
  .Pickle-container figure img {
    width: 100px;
  }
}
